<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='output.css') }}">
</head>
<body>
<!-- Full the user screen -->
    <h1 class='text-3xl font-bold underline'>Enhance Your Guitar Learning Journey</h1>
    <h1>With AI</h1>
    <p>This web app prototype integrates machine learning model to help recognize guitar chord through
    images and videos</p>

<!-- Reveal below elements when user scroll down -->
    <h2>Try it out </h2>

    <div>
        <a href="{{ url_for('upload_file') }}"><button>Upload Image from File Explorer</button></a>

        <a href="{{ url_for('video_upload') }}"><button>Upload Video from File Explorer</button></a>
        <!-- Can consider to add real time prediction feature -->

    </div>
</body>
</html>
