<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='output.css') }}">
</head>
<body onload = 'clearLocalStorage()' class = "bg-hero-bg-gradient fade-in-gradient" >


    <!--Top bar-->
<div class = "fixed top-0 w-full bg-raisin-black py-4 px-6 fade-in-left-to-right rounded-b-md">

    <p class = "text-white text-center font-semibold font-sans md:text-start">GCR_WebApp</p>

</div>

<!--main content container-->
<div class = "flex flex-col justify-center items-center text-white mt-10 px-5 fade-in-from-bottom ">

    <!--Page title-->
    <h1 class = "text-4xl text-center font-semibold tracking-normal font-sans mt-10 mb-10 md:pl-10 md:pt-14 md:text-5xl ">Upload Image from Your Computer</h1>
    <!-- image preview-->
    <img id="preview" class="rounded-lg" style="display:none" alt="Image preview">
    <!--Form container-->
    <div class="bg-raisin-black outline outline-offset-2 outline-1 rounded-2xl px-5 py-5 my-20  md:mt-10  md:px-20 md:py-5 ">
        <!-- form using Post method to send the data to the javascript -->

        <form  action="{{ url_for('upload_image') }}" method="post" enctype="multipart/form-data">
            <input class=' '  type="file" name="file" id="file" accept="image/*" onchange="previewImage(event)"> <!--onchange is added to call previewImage function-->
           
            <input type="submit" value="Upload Image" class=" transition ease-in-out delay-100 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300  text-white font-medium py-2 px-4 rounded-lg "></a>
            
        </form>

    </div>

  <a class='text-white transition ease-in-out delay-100 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-green-500 duration-300  font-medium py-2 px-4 rounded-lg ' href="{{ url_for('index') }}">Back to Home</a>
</div>

  

    <!--Bottom Bar-->
<div class = "fixed bottom-0 w-full bg-raisin-black py-4 px-6 text-white fade-in-left-to-right ">
    <div class = "container mx-auto flex justify-between items-center font-medium">
        <p>FYP PROJECT</p>
        <p>By Alif Safwan</p>
    </div>
</div>

</body>

<style>
        @keyframes fadeInFromBottom {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }

        50% {
            opacity: 0.5;
            transform: translateY(10px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }


    .fade-in-from-bottom {
        animation: fadeInFromBottom 1s ease-out;
    }

</style>


<script>
function clearLocalStorage() {
    localStorage.clear();
}
    function previewImage(event) {
        const file = event.target.files[0];
        const preview = document.getElementById('preview');

        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                preview.src = e.target.result;
                preview.style.display = 'block';
                preview.style.maxWidth = '100%';
                preview.style.maxHeight = '300px';
                localStorage.setItem('imageData', e.target.result);
                
            }
            reader.readAsDataURL(file);
        } else {
            preview.style.display = 'none';
        }
    }

 
</script>
</html>
