<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Upload Image from Your Computer</h1>



    <!-- form using Post method to send the data to the javascript -->
    <form action="{{ url_for('upload_image') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file" id="file" accept="image/*">
        <input type="submit" value="Upload Image">
    </form>
    <a href="{{ url_for('index') }}">Back to Home</a>
</body>
</html>
