<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video upload</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='output.css') }}">
</head>
<body class = "bg-hero-bg-gradient">

  <!--Top bar-->
  <div class = "fixed top-0 w-full bg-raisin-black py-4 px-6 fade-in-left-to-right rounded-b-md">
    <p class = "text-white md:text-start font-semibold font-sans text-center">GCR_WebApp</p>
  </div>

<!-- Main Container-->
<div class="flex flex-col justify-center items-center text-white mt-20 px-5 fade-in-from-bottom">

        <h1 class="text-4xl text-center font-semibold tracking-normal font-san mt-10 mb-10 md:text-5xl md:mb-5 md:mt-20">Upload Video From File Explorer</h1>

    <!--Container for upload-->
    <div class="bg-raisin-black outline outline-offset-2 outline-1 rounded-2xl px-5 py-5 my-20 md:px-20 ">
      <!-- Form for uploading the video -->
      <form action = "{{ url_for('upload_video') }}" method="post" enctype="multipart/form-data">
          <input type="file" name="video" accept="video/*">
          <button type="submit" class=" after:animate-spin transition ease-in-out delay-100 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300  text-white font-medium py-2 px-4  rounded-lg">Upload Video</button>
      </form>
   
  </div>
   <a class='text-white  transition ease-in-out delay-100 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-green-500 duration-300  font-medium py-2 px-4 rounded-lg ' href="{{ url_for('index') }}">Back to Home</a>
</div>
<script src="{{ url_for('static', filename='scripts.js') }}"></script>


<!--Bottom Bar-->
<div class = "fixed bottom-0 w-full bg-raisin-black py-4 px-6 text-white fade-in-left-to-right rounded-b-md">
  <div class = "container mx-auto flex justify-between items-center font-medium">
      <p>FYP PROJECT</p>
      <p>By Alif Safwan</p>
  </div>
</div>

</body>




<style>
  @keyframes fadeInFromBottom {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }

  50% {
      opacity: 0.5;
      transform: translateY(10px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}


.fade-in-from-bottom {
  animation: fadeInFromBottom 1s ease-out;
}

</style>


</html>