<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video upload</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
        <h1>Upload Video From File Explorer</h1>

    <!-- Form for uploading the video -->
    <form action = "{{ url_for('upload_video') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="video" accept="video/*">
        <button type="submit">Upload Video</button>
    </form>
  <a href="{{ url_for('index') }}">Back to Home</a>

        <!-- Results segment -->
        <h1>Prediction Results</h1>
        <p>Below is the prediction results based on the input video uploaded.</p>

        <div id="predictions"></div>

<script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>